.main_basket {
    display: flex;
    margin: 95px 0 0 0;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-around;
    flex-wrap: wrap;
    // @media screen and (max-width: 768px) {
    //     flex-direction: column;
    // }
    &_basket {
        text-align: center;
        h2 {
            font-size: 42.35px;
            color: #6f7173;
            margin: 0 0 35px 0;
            font-weight: 400;
        }
        img {
            padding: 0 0 50px 0;
        }
    }
    &_content {
        h3 {
            margin: 55px 0 25px 0;
            font-size: 26.35px;
            color: #6f7173;
            font-weight: 400;
        }
        &_ul li {
            padding: 10px 0 10px 0;
        }
        @media screen and (max-width: 768px) {
            margin: 0 auto;
        }
    }
}