@import url("https://fonts.googleapis.com/css?family=Raleway:700i&display=swap&subset=latin-ext");
header {
    display: flex;
    justify-content: space-between;
    padding: 0 141px 0 141px;
    ul {
        display: flex;
        align-items: center;
        height: 50px;
    }
    ul a {
        margin-left: 10px;
    }
    @media (max-width:576px) {
        .menu {
            display: none;
        }
        .trigger {
            display: inline-block;
            margin: 3px;
            cursor: pointer;
            i {
                display: block;
                width: 30px;
                height: 6px;
                margin: 4px auto;
                background: #222;
                // transition: .5s;
            }
            // &.active {
            //     .active_line_hide {
            //         display: none;
            //     }
            //     .active_line_left {
            //         position: absolute;
            //         transform: rotate(-45deg);
            //     }
            //     .active_line_right {
            //         position: absolute;
            //         transform: rotate(45deg);
            //     }
            // }
        }
        .show {
            display: block;
        }
    }
}

// .ico_header {
//   display: flex;
//   margin: 24px 0 21px 0;
// }
// .ico_header img {
//   padding: 0 15px 7px 0;
// }
// .ico_header h1 {
//   font-size: 42.35px;
//   font-family: "Raleway", sans-serif;
// }
// .header_navigation .nav {
//   padding: 41px 0 0 0;
//   margin: 8px 0 0 0;
// }
// .header_navigation .nav a {
//   margin: 0 0 0 19px;
//   padding: 0 0 19px 0;
//   font-size: 25.35px;
//   color: #6c6c6c;
//   border-bottom: none;
// }
// .header_navigation .nav a:hover {
//   border-bottom: 3px solid #5094f2;
// }